@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-profile: max-content 1fr min-content;
  --grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr)
    minmax(0, 15rem);
  --border-width-6: 6px;
  --color-violet-25: #fcfaff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
